.bg-home {
  background-color: #223a5f;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Bree Serif;
  padding: 10px;
  color: white;
  min-height: 100vh;
}
.rules {
  align-self: flex-end;
  font-family: Bree Serif;
}
.rpc-score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 1px white;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}
.score {
  background-color: white;
  color: #223a5f;
}
.rps-play-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0px;
}
li {
  align-self: center;
  /* border: solid 1px white; */
}
/* .rps-image{
    
} */
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.result-images {
  width: 50%;
  height: 50%;
  margin: 30px;
}
button {
  background-color: transparent;
  border: 0px;
  /* width: ; */
}
.score {
  border-radius: 10px;
  font-family: Roboto;
}
.rules {
  background-color: white;
  width: 100px;
  height: 40px;
  border: 0px;
  border-radius: 5px;
  align-self: flex-end;
  /* background-color: ; */
}
.play-again {
  background-color: white;
  width: 100px;
  height: 40px;
  border: 0px;
  border-radius: 5px;
}
.mr-1 {
  margin-right: 10px;
}
.m-1 {
  margin: 10px;
}
.m-2 {
  margin: 20px;
}
.d-flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
  background-color: yellow;
}
.justify-content-center {
  justify-content: center;
  margin: 10px;
}
.align-self-end {
  align-self: flex-end;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
